# Hacer que git ignore la carpeta __pycache__ que sólo sirve en tiempo de ejecución
/__pycache__

# Ingorar archivos .png
*.png

# Ignorar archivos .spec
*.spec

# Ignorar carpetas relacionadas a la compilación
/dist
/build
*.db