# Hacer que git ignore la carpeta __pycache__ que sólo sirve en tiempo de ejecución
/__pycache__

# Ingorar archivos .png
*.png

# Ignorar la carpeta docs, en donde guardamos pdf útiles pero no necesarios de versionar
/docs

# Ignorar archivos .db
*.db